---
import BaseLayout from "@components/base/BaseLayout.astro";
import PublicationCard from "@/components/publications/Card.astro"; // path to your card component
import { getCollection } from "astro:content";

const publications = await getCollection("publications");

// Optional: sort by date descending
publications.sort((a, b) => {
  const dateA = a.data.date ? new Date(a.data.date).getTime() : 0;
  const dateB = b.data.date ? new Date(b.data.date).getTime() : 0;
  return dateB - dateA;
});
---
<BaseLayout title="" description="">

<section class="max-w-1xl md:max-w-2xl lg:max-w-4xl xl:max-w-6xl mx-auto px-4 py-12">

  <div class="flex flex-col gap-8">
    {publications.map((entry) => (
      <PublicationCard entry={entry} />
    ))}
  </div>
</section>