.rotating-image {
    opacity: 0;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.rotating-image.loading {
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.rotating-image.loading.bottom {
    transition-delay: 0ms;
}

.rotating-image.loading.middle {
    transition-delay: 250ms;
}

.rotating-image.loading.top {
    transition-delay: 500ms;
}

.rotating-image.loaded {
    opacity: 1;
    transform: rotateY(45deg);
}

/* Instant hover — no transition left */
.rotating-image:hover {
    transform: rotateY(60deg);
    transition: transform 0.5s ease;
}

.image-container-top,
.image-container-middle,
.image-container-bottom {
    perspective: 1000px;
}

.image-container-top {
    grid-row: 1;
    z-index: 2;
    grid-column: 22 / 33;
    @media (min-width: theme('screens.md')) {
        grid-column: 16 / 21;
    }
    
    @media (min-width: theme('screens.lg')) {
        grid-column: 15 / 20;
    }
}

.image-container-middle {
    grid-row: 1;
    z-index: 1;
    grid-column: 13 / 24;
    @media (min-width: theme('screens.md')) {
        grid-column: 12 / 17;
    }
    
    @media (min-width: theme('screens.lg')) {
        grid-column: 11 / 16;
    }
}

.image-container-bottom {
    grid-row: 1;
    z-index: 0;
    grid-column: 4 / 15;
    @media (min-width: theme('screens.md')) {
        grid-column: 8 / 13;
    }
    
    @media (min-width: theme('screens.lg')) {
        grid-column: 7 / 12;
    }
}

.logo-container {
    display: grid;
    position: relative;
    top: 2rem;
    max-width: 1200px;   /* maximum width */
    width: 100%;         /* allow shrinking */
    margin: 0 auto;
    padding: 0 1rem;     /* optional horizontal padding */

    grid-template-columns: repeat(35, 1fr);

    @media (min-width: theme('screens.md')) {
        grid-template-columns: repeat(27, 1fr);
        max-width: 900px;
    }
    
    @media (min-width: theme('screens.lg')) {
        grid-template-columns: repeat(25, 1fr);
        max-width: 1200px;
    }
}

.word-container {
    @apply flex justify-between relative top-[3.25rem] w-full  max-w-[19rem] md:max-w-[28rem] lg:max-w-[30rem] xl:max-w-[43.75rem] mx-auto px-4;
}

.word-left,
.word-middle,
.word-right {
    @apply opacity-0;
    @apply text-xl sm:text-2xl md:text-3xl xl:text-5xl; // scalable by breakpoint
    font-family: Chakra Petch;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(1rem);
    transition: opacity 0.8s ease, transform 1.0s ease;
}

.word-left {
    @apply flex justify-start flex-initial;
    color: #cc1212 !important;
    transition: transform 0.3s ease;
}

.word-middle {
    @apply flex justify-center flex-auto;
    color: #23cc67 !important;
    transition: transform 0.3s ease;
}

.word-right {
    @apply flex justify-start flex-auto;
    color: #3890f9 !important;
    transition: transform 0.3s ease;
}

/* Scale .word-left when hovering on .rotating-image.bottom */
.logo-container:has(.rotating-image.bottom:hover) + .word-container .word-left {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Scale .word-left when hovering on .rotating-image.bottom */
.logo-container:has(.rotating-image.middle:hover) + .word-container .word-middle {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Scale .word-left when hovering on .rotating-image.bottom */
.logo-container:has(.rotating-image.top:hover) + .word-container .word-right {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.word-left.loaded,
.word-middle.loaded,
.word-right.loaded {
    opacity: 1;
    transform: translateY(0);
}
