---
import BaseLayout from "@components/base/BaseLayout.astro";
import BannerBlock from "@components/base/BannerBlock.astro";
// import AboutEntry from "@/components/home/AboutEntry.astro"; 
import AwardsCollection from "@/components/awards/CollectionLayout.astro";
import FundingEntry from "@/components/home/FundingEntry.astro"; 
// import CollabEntry from "@/components/home/CollabEntry.astro"; 
import NewsCollection from "@/components/news/CardCollection.astro";

---

<BaseLayout>
  
  <!-- Banner with logo-->
  <section class="section mb-[5rem] md:mb-[8rem]">
    <BannerBlock />
  </section>

  <!-- About Section -->
  <!-- <section>
    <div class="row flex mt-[3rem] px-[1rem] md:px-[3rem] lg:px-[6rem]">
      <AboutEntry/>
    </div>
  </section> -->

  <!-- Awards Section -->
  <section>
    <div class="row flex mt-[3rem] px-[1rem] md:px-[3rem] lg:px-[6rem]">
      <AwardsCollection/>
    </div>
  </section>
  
  <!-- News Section -->
  <section>
    <div class="row flex mt-[3rem] px-[1rem] md:px-[3rem] lg:px-[6rem]">
      <NewsCollection/>
    </div>
  </section>

  <!-- Collaborators Section -->
  <!-- <section>
    <div class="row flex mt-[3rem] px-[1rem] md:px-[3rem] lg:px-[6rem]">
      <CollabEntry/>
    </div>
  </section>  -->

  <!-- Funding Section -->
  <section>
    <div class="row flex my-[2rem] px-[1rem] md:px-[3rem] lg:px-[6rem]">
      <FundingEntry/>
    </div>
  </section> 
</BaseLayout>

