---
import { getCollection } from "astro:content";
import AwardCard from "./Card.astro";

const awards = (await getCollection("awards")).sort(
  (a, b) => b.data.year - a.data.year
);
---

<section class="w-full mx-auto">
    <h1 class="text-3xl font-bold mb-8 md:mb-[4rem] text-center md:text-left border-b border-border dark:border-darkmode-border">Awards</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
      {awards.map((award) => (
        <AwardCard entry={award} />
      ))}
    </div>
</section>